venv
*.DS_Store
*.pyc
*.py[co]
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.tox
*.mo
.mr.developer.cfg
dump.rdb
.env
{{project_name}}/static/js/vendor/